#container {
  width: 600px;
  margin:100px auto;
  border: 1px gray solid;
  height:400px;
}

.pop-form{
  font-family:monospace;
  float:left;
}

.pop-form h2{
  font-size:small;
}

.pop-form h3{
  font-size:small;
  letter-spacing:1px;
  color:gray;
}

.pop-form label {
  font-size:small;
}


div.pop-form {
  display:none;
}

#commands {
  border:1px solid gray;
  float:right;
}

