#container {
  width: 600px;
  margin:100px auto;
  border: 1px gray solid;
  height:400px;
}

div.link {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.favicon {
  width: 16px;
  height: 16px;
}

a.link-description {
  margin-left: 10px;
}